span.validationError {
    color: red;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
}
th {
    background: #BCEBDD;
    color: white;
    text-shadow: 0 1px 1px #2D2020;
    padding: 10px 20px;
}
th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}
th:first-child, td:first-child {
    text-align: left;
}
th:first-child {
    border-top-left-radius: 10px;
}
th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
}
td {
    padding: 10px 20px;
    background: #F8E391;
}
tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}
tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}
tr td:last-child {
    border-right: none;
}

.actionType {
    padding: 5px;
}

.btnType {
    margin: 15px;
}

.btn {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0 15px 15px 0;
    outline: none;
    border: none;
    border-radius: 6px;
    height: 40px;
    line-height: 40px;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    color: #385898;
    background-color: #e7f3ff;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
}
.btn:focus-visible {
    box-shadow: 0 0 0 2px #666;
}
.btn:hover {
    background-color: #DBE7F2;
}
.btn:active {
    transform: scale(0.96);
}
.btn:disabled {
    pointer-events: none;
    opacity: 0.65;
}
